{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}

{%- if site.data.navigation.header -%}
{%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
        {%- include snippets/get-nav-url.html path=_paths_root -%}

<div class="navigation">
    <a href="{{ __return }}" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">
     <div class="header__brand">
         {%- include svg/desired-logo.svg -%}
      </div>
      </a>
    <div class="nav-link nav-link-toggle">
      <i class="fa-2 fas fa-bars"></i>
    </div>
  <nav class="nav-items nav-items--right">
    {%- for _item in site.data.navigation.header -%}
      {%- include snippets/get-nav-url.html path=_item.url -%}
      {%- assign _nav_url = __return -%}
      {%- include snippets/get-nav-url.html path=page.url -%}
      {%- assign _page_url = __return -%}
      {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
      {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
        <div class="nav-link"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></div>
      {%- else -%}
        <div class="nav-link"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></div>
      {%- endif -%}
    {%- endfor -%}
    <div class="nav-item">
      {%- if site.search.provider -%}
      <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
    {%- endif -%}
    </div>
  </nav>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
{%- include scripts/navigation.js -%}
</script>
</header>
{%- endif -%}
