{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
    {%- include snippets/get-nav-url.html path=_paths_root -%}
    {%- if site.title -%}
    <a href="{{ __return }}" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">
      <div class="navbar-brand">
        {%- include svg/desired-logo.svg -%}
      </div>
      </a>
    {%- endif -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {%- for _item in site.data.navigation.header -%}
          {%- include snippets/get-nav-url.html path=_item.url -%}
          {%- assign _nav_url = __return -%}
          {%- include snippets/get-nav-url.html path=page.url -%}
          {%- assign _page_url = __return -%}
          {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
          {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
            <li class="nav-item active"><a class="nav-link" href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
          {%- else -%}
            <li class="nav-item"><a class="nav-link" href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
      {%- if site.search.provider -%}
       <button data-toggle="modal" class="js-search-toggle button button--secondary button--circle search-button"><i class="fas fa-search"></i></button>{%- endif -%}
  </nav>
</div>

</header>
