.header {
  font-family: "Lucida Sans";
  color: $header-text-color;
  background: $header-background;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  a {
    font-weight: map-get($base, font-weight);
    text-decoration: none !important;
    @include link-colors($header-text-color, $header-text-color-2);
  }
}

.header--dark {
  @extend .text--dark;
  background: rgba(#000, .15);
  .navigation__item--active {
    &::after {
      @include split-line(bottom, 4px, $text-color-theme-dark);
    }
  }
}

.header--light {
  @extend .text--light;
  background: rgba(#fff, .15);
  .navigation__item--active {
    &::after {
      @include split-line(bottom, 4px, $text-color-theme-light);
    }
  }
}

.collapse, .navbar-collapse {
  text-align: center;
  .search-button {
    margin: 5px;
  }
}

.navbar-brand {
  @include flex(1);
  @include media-breakpoint-down(md) {
    height: map-get($layout, header-height-sm);
  }

  & svg {
    padding: 0px;
    transition: 0.25s;
    width: map-get($base, font-size-h1) * 7.5;
    height: map-get($base, font-size-h1) * 1.6;
    margin-right: 0px;
    vertical-align: middle;
    @include media-breakpoint-down(md) {
      width: map-get($base, font-size-h4) * 1.2;
      height: map-get($base, font-size-h4) * 1.2;
    }
    @media only screen
      and (min-device-width: 300px)
      and (max-device-width: 680px)
    {
        width: 10rem !important;
        height: 2.5rem !important;
    }
    @media only screen
      and (max-device-width: 300px)
    {
        display: none;
    }
  }
  & svg:hover {
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      border-radius:20px;
      transition: box-shadow 0.25s;
    }
}

.navbar-toggler {
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  -webkit-transition: box-shadow 0.25s;
}

.navbar-toggler:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 25s;
}

.nav-link{
    color: $header-text-color !important;
    padding: 10px !important;
}

.nav-link:hover {
    color: $header-text-color-2 !important;
    padding: 10px !important;
}
